body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    padding: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 18px;
    margin: 20px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-upload {
    background-color: #007bff; /* 이미지 불러오기 버튼 색상 */
}

.button-submit {
    background-color: #28a745; /* 업로드 버튼 색상 */
}

.button-view {
    background-color: #6c757d; /* 이미지 조회 버튼 색상 */
}

.button-secondary {
    background-color: #6c757d;
}

.upload-button-container {
    text-align: center;
}

.upload-button {
    display: inline-block;
}

.small-button {
    padding: 5px 10px;
    font-size: 14px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
    .button {
        width: 100%;
        box-sizing: border-box;
    }
}
