.header-center .home-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit; /* 링크 색상을 상속받도록 설정 */
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-logo {
  height: 35px; /* 로고 크기 조정 */
  margin-right: 10px; /* 텍스트와 로고 간격 조정 */
}

.header-text {
  font-size: 24px;
  color: #000; /* 텍스트 색상 조정 */
}

/* 링크의 기본 스타일 제거 */
.header-center .home-link:link, 
.header-center .home-link:visited, 
.header-center .home-link:hover, 
.header-center .home-link:active {
  color: inherit; /* 링크의 모든 상태에서 색상이 변하지 않도록 설정 */
  text-decoration: none; /* 밑줄 제거 */
}
